body {
  background-image: <img src="https://img.freepik.com/fotos-premium/diseno-fondo-volar-granos-cafe-tostado_36845-39.jpg" width="626" height="473"
  font-family: sans-serif;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 39px;
  color:white;
   margin-top: 0;
  margin-bottom: 15px;
  font-style: arial-black;
}

h2 {
  font-size: 35px;
  font-style: arial-black;
  color:white;
}

.established {
  font-style: arial-black;
  color:white;
  font-size: 12px;
}

h1,
h2,
p {
  text-align: center;
  font-style: arial-black;
}



  
.menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-style: arial-black;
  padding: 20px;
  max-width: 500px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
hr {
  height: 2px;
  background-color: brown;
  font-style: arial-black; 
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: arial-black, arial-black;
}

. ul {
  display: inline-block;
  font-style: arial-black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color:white;
} 

.item p {
  display: inline-block;
  font-style: arial-black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color:white;
}

.flavor,
.dessert {
  text-align: left;
  width: 90%;
}


/* FOOTER */

footer {
  font-size: 12px;
  font-style: arial-black;
  color:white;
}

.address {
  margin-bottom: 5px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}
